:root {
  --background-color: #191919;
  --screen-text: #444444;
  --seat-text: #17172d;
  --seat-full-bg: #272c2e;
  --seat-selected-bg: #64bcda;
  --seat-selected-hover-bg: #549fb8;
  --seat-confirm-button-bg: #484d4e;
  --seat-confirm-button-hover-bg: #393c3d;
}
